html {
	font-family: helvetica, sans-serif;
}

#container {
	margin: auto;
	width: 960px;
	height: 960px;
}

.grid {
	text-align: center;
}

.box {
	display: inline-block;
	background-color: blue;
	height: 40px;
	width: 40px;
	margin: 3px;
}